<!-- Footer -->
<div class="footer">
<footer class="page-footer font-small teal pt-4 footer-emp-w3ls " id="footer">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mb-3 ">

        <!-- Content -->
         <div class=" float-right" > 
        <h5 class="text-uppercase mb-4 ml-2 text-center txt mr-3">STAY CONNECTED</h5>
       <div class="mr-2">
           <a href="https://www.facebook.com/anupama.mangalath.3/" class="icon-block m-2"><i class="fa fa-facebook-official fa-2x" aria-hidden="true" ></i></a>
           <a href="https://twitter.com/AnupamaMangala3" class="icon-block m-2"><i class="fa fa-twitter fa-2x"></i></a>
           <a href="https://www.instagram.com/_.anu__pama._/" class="icon-block m-2"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
           <a href="https://in.pinterest.com/anupamamangalath/" class="icon-block m-2"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>    
       </div>
     
</div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase text-center mb-4 txt">BE OUR FRIEND</h5>
        <div class="text-center">
            <form>
                <input type="text" placeholder="Enter your email here" id="text-email"><br>
                <a href="" type="button" class="btn subscibebtn mt-3" style="font-size: large; color:rgb(192, 191, 191)">Subscribe Now</a>
            </form>

        </div>

      </div>
      
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
       <div class="col-md-4 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase txt">NEED ASSISTANCE?</h5>
        <P class="ml-4 " style="color: rgb(192, 191, 191);">897-294-1234<br>ary@gmail.com</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: cornsilk;">© 2020 Copyright:

  </div>
  <!-- Copyright -->

</footer>
</div>
<!-- Footer -->
<style>
    .page-footer{
        background: #35321f;
    }
    .icon-block{
        color: burlywood;
    
    }
    #text-email{
        border: none;
      background:rgb(52, 71, 45); 
        width:65%;
        height: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
input[type=text]:focus{
    background-color: rgb(209, 208, 205);
}
.subscibebtn{
    background: none;
    {{!-- background:rgb(155, 155, 155); --}}
    width:65%;
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.txt{
    color: rgb(255 237 213);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#footer{

  width: 100%;
  clear: both;
  
 

}
.footer{

   left: 0;
   bottom: 0;
   width: 100%;
   
  
}
a:hover {
  color:rgb(255, 254, 189);
  background-color: transparent;
  text-decoration: underline;
}
</style>