<section style="margin-top: 7rem;margin-bottom:12rem">
    <div class="container">
 
        <div  class="text-center">
        <p id="heading" class=" text-uppercase">customer care</p>
        <p>You can 24x7 Customer Care Support on the ary Help Centre. Any query or issue that you may possibly have while shopping on ary is taken care here. This page is easy to navigate, and you can get support almost immediately. Once you log onto your Ary account, this page let you report any issue. Similarly, there are other options on this page that are created to assist you and to make your shopping experience hassle-free. You can get support any time and get a satisfactory solution to your queries and issues within minutes. </p>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center mt-5">
                <p>Have any questions or concerns? <br>We’re always ready to help!</p>
                <p class="mt-5">
                   <span style="font-weight: bold;"> Call us at</span><br> +91 9876654332<br>or send us an email to:<br>ary@gmail.com
                </p>

            </div>
            <div class="col-md-6 float-right text-center mt-5">
                <input type="text" placeholder="Name" style="width: 70%;" class="input mt-2"> <br>
                <input type="email" placeholder="Email" style="width: 70%;" class="input mt-2">
                <input type="text" placeholder="Subject" style="width: 70%;" class="input mt-2">
                <textarea placeholder="Address"  style="width: 70%; height:7rem;text-align:lefttop " class="input mt-2 "></textarea>              
                <br>
                <button class="btn" style="color:burlywood;background: rgba(20, 20, 19, 0.753); width:70%">SUBMIT</button>


            </div>
        </div>
        </div>
 

</section>
<style>
    #heading{
        letter-spacing: 0.4rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.1rem;

    }
    hr {
    height: 0.6px;
    background-color: rgb(102, 101, 101); /* Modern Browsers */
}
body{
    background: rgba(222, 184, 135, 0.185);
}
</style>